{% extends "base.html" %}
{% block content %}

    <div class = "p-5 mb-4 bg-dark rounded-3">
        <h1>
            bench
        </h1>
    </div>
        <div class="row align-items-md-stretch">
            <div class="col-md-6">
            <div class="p-5 text-dark bg-dark rounded-3" style="font-weight: bold;">
            <form method="post">
                {{ form.hidden_tag() }}
{#                {{ form.equipment.label() }} {{ form.equipment() }}<br>#}


                {{form.equipment.label}}<br>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">

                    {% for subfield in form.equipment %}
                        {{ subfield(class="btn-check") }} {{ subfield.label(class="btn btn-secondary") }}
                    {% endfor %}
                </div><br>
{#                <div class="form-floating">#}
{#                {{ form.age(class="form-control", id="floating") }}{{ form.age.label(for="floating") }}#}
{#                </div>#}
                <div class="form-floating">
                {{ form.age(class="form-control", placeholder="place holder") }}{{ form.age.label }}
                </div>

                {{form.sex.label}}<br>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">

                    {% for subfield in form.sex %}
                        {{ subfield(class="btn-check") }} {{ subfield.label(class="btn btn-secondary") }}
                    {% endfor %}
                </div><br>
            
                <div class="form-floating">
                {{ form.weight(class="form-control", placeholder="place holder") }}{{ form.weight.label }}
                </div>
            
                <div class="form-floating">
                {{ form.squat(class="form-control", placeholder="place holder") }}{{ form.squat.label }}
                </div>
            
                <div class="form-floating">
                {{ form.deadlift(class="form-control", placeholder="place holder") }}{{ form.deadlift.label }}
                </div>
            
                {{ form.submit(class="btn btn-secondary") }}
            </form>
            </div></div>
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-dark rounded-3">
                <h2>
                    Prediction
                </h2>
                {{ new_prediction }}
            </div></div>
        </div>

{% endblock %}