<head>
    <title>Login</title>
</head>
{% extends "base.html" %}
{% block content %}
    <div class="p-5 mb-4 text-dark bg-dark rounded-3">
        <h1>Login</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="form-floating">
                {{ form.email(class="form-control", placeholder="place holder") }}{{ form.email.label }}
                </div>
        <div class="form-floating">
                {{ form.password(class="form-control", placeholder="place holder") }}{{ form.password.label }}
                </div>
        {{ form.submit(class="btn btn-secondary") }}


    </form>
    </div>
{% endblock %}