<head>
    <title>Prediction Select</title>
</head>

{% extends "base.html" %}
{% block content %}
    <div class = "p-5 mb-4 bg-dark rounded-3" >

        <h1>
            Predictions
        </h1>
        <h3>Pick the lift you want to explore...</h3>
        <a href="{{url_for('users.bench')}}">
            <button type="button" class="btn btn-primary btn-lg">Bench</button>
        </a>
        <a href="{{url_for('users.squat')}}">
            <button type="button" class="btn btn-secondary btn-lg">Squat</button>
        </a>
        <a href="{{url_for('users.deadlift')}}">
            <button type="button" class="btn btn-danger btn-lg">Deadlift</button>
        </a>
    </div>

{% endblock %}