<head>
    <title>Register</title>
</head>

{% extends "base.html" %}
{% block content %}
    <div class="p-5 mb-4 text-dark bg-dark rounded-3">
    <form method="post">
        <h1>Sign Up!</h1>
        {{ form.hidden_tag() }}

        <div class="form-floating">
                {{ form.email(class="form-control", placeholder="place holder") }}{{ form.email.label }}
                </div>
        <div class="form-floating">
                {{ form.username(class="form-control", placeholder="place holder") }}{{ form.username.label }}
                </div>
        <div class="form-floating">
                {{ form.password(class="form-control", placeholder="place holder") }}{{ form.password.label }}
                </div>

        <div class="form-floating">
                {{ form.confirm_password(class="form-control", placeholder="place holder") }}{{ form.confirm_password.label }}
                </div>
        {{ form.submit(class="btn btn-secondary") }}
    </form>
    </div>
{% endblock %}